extends layout

include _includes/sharedHTMLfunctions

block content
  .row.banner
    .col-12.col-md-6
      h1= pageHeader.title
        small &nbsp;#{pageHeader.strapline}
  .row
    .col-12.col-md-8

      each dish in dishes
        .card
          .card-block
            h4
              a(href='/menu/')= dish.name
              small &nbsp;
                +outputRating(dish.rating)
            img(src=dish.image, alt=dish.name, width="100",height="150") 
            p.description= dish.description
            p.price= dish.price
            p.category= dish.category
    .col-12.col-md-4
      p.lead= sidebarContent